.switchBoxContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}

.switchBox__name {
  display: inline;
  padding-left: 10px;
}

.switchBox__input{
  & + .switchBox__label {
    font-family: "ro";
    background-color: gray;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 60px;
    &:after {
      background-color: #fff;
      border-radius: 20px;
      content: ' ';
      display: block;
      height: 30px;
      position: absolute;
      right: 50%;
      transition: all .1s linear;
      width: 50%;
    }
  }
  &:checked {
    & + .switchBox__label {
      background-color: #2ecc71;
      &:after {
        right: 0%;
      }
    }
  }
}