.switchBoxContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}

.switchBox__name {
  display: inline;
  padding-left: 10px;
  padding-bottom: 6px
}

.switchBox__input{
  padding: 0;
  margin: 0;
  & + .switchBox__label {
    font-family: "ro";
    background-color: #494949;
    border: 2px solid #969696;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 60px;
    &:after {
      background-color: #fff;
      border-radius: 20px;
      content: ' ';
      display: block;
      height: 30px;
      position: absolute;
      right: 50%;
      transition: all .1s linear;
      width: 50%;
    }
  }
  &:checked {
    & + .switchBox__label {
      background-color: #7dd120;
      &:after {
        right: 0%;
      }
    }
  }
}