@font-face {
  font-family: RobotoRegular; /* Гарнитура шрифта */
  src: url(../../public/fonts/roboto.ttf); /* Путь к файлу со шрифтом */
}

body {
  font-family: RobotoRegular;
  height: 100%;
  width: 100%;
}